@import "../../../../styles.scss";
@import "../../../../assets/styles/dialog-more.scss";
.port {
  cursor: pointer;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .left-part {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        width: 40px;
        border-radius: 50%;
      }
      .img {
        min-width: 24px;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .fullname {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
