<h2 mat-dialog-title class="title">{{title}}</h2>
<form [formGroup]="form" class="block">
  <mat-form-field>
    <mat-label>{{roleInput.label}}</mat-label>
    <mat-select [formControl]="roleInput.formControl">
      <mat-option (click)="selectRole(t)" *ngFor="let t of roleInput.items" [value]="t.name">
        {{t.name}} <span *ngIf="t.icon">({{t.icon}})</span>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="roleInput.formControl.invalid">
      {{roleInput.messageError()}}
    </mat-error>
  </mat-form-field>

  <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="save()">
    <mat-icon>{{saveBtn.icon}}</mat-icon>{{saveBtn.title}}
  </button>
</form>
