@import "../../../../styles.scss";
@import "../../../../assets/styles/dialog-more.scss";

.left-part {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  
  img {
    width: 40px;
    border-radius: 50%;
  }
  .img {
    margin: 0 8px;
  }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 13px;

    .fullname {
      font-weight: 500;
      font-size: 17px;
      color: black;
    }
  }
}
