$minWidthPhone: 320px;
$minWidthTablet: 768px;
$minWidthNotebook: 1024px;
$htmlFontSize: 16px;
$heightHeader: 50px;
$paddingValue: 20px;
$middlePaddingValue: 10px;
$smallPaddingValue: 5px;
$maxWidthCard: 850px;

$borderRadius: 5px;
$smallBorderRadius: 5px;

$sizeAvatar: 140px;

$smallGap: 5px;
$middleGap: 10px;
