<h2 mat-dialog-title class="title">{{title}}</h2>
<form [formGroup]="form" class="block">

  <mat-form-field *ngFor="let field of inps">
    <mat-label>{{field.label}}</mat-label>

    <input matInput [type]="field.type" [placeholder]="field.placeholder" [formControl]="field.formControl">

    <button *ngIf="field.is_enable_btn" mat-icon-button matSuffix (click)="field.action_btn()">
      <mat-icon>{{field.icon}}</mat-icon>
    </button>

    <mat-icon *ngIf="!field.is_enable_btn" matSuffix>{{field.icon}}</mat-icon>
    <mat-error *ngIf="field.formControl.invalid && field.messageError">
      {{field.messageError()}}
    </mat-error>
  </mat-form-field>

  <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="save()">
    <mat-icon>{{saveBtn.icon}}</mat-icon>{{saveBtn.title}}
  </button>
</form>
