@import "../../../../styles.scss";
@import "../../../../assets/styles/dialog-more.scss";

form {
  padding: 0;
}
.actions {
  display: flex;
  align-items: center;
  gap: $middleGap;

  .save-btn {
    width: max-content;
    max-width: 300px;
    padding: 0 10px;
  }
}

